html{
    background-color: #FFFCE8; 
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    position: absolute;
    margin-left: 200px;
    
}
h1{
    font-size: xx-large !important;
    font-weight: bold;
    text-align: center;
    color: #0E4749;

}
h2{
    color: #0E4749;
    text-align: center;
    font-style: italic;
}
header{
    color: #0E4749;
    font-size: larger;
    font-weight: 100;
    background-color: #62A87C;
    padding: .35em;
    border-radius: .5em;
    width: min-content;
    display: inline;
    opacity: 80%;
    box-shadow: 4px 4px .9px #0E4749;
  
    text-align: center;
    
    
}
section{
    font-size: medium;
    color: #0E4749;
    
}
nav{
    font-size: medium;
    color: green;
}
.animal-container{
    display: flex;
    border-radius: 10%;
    margin: auto;
    padding: 3%;
    background-color: #ECD583;
    border-radius: 10%;
    box-shadow: 7px .9px #E6C960;
    margin-top: 3%;
    margin-bottom: 10%;
}
.animal-col{
    flex: 1;
    width: 50%;
    border-radius: 10%;
    padding: 3%;
    margin: 0;

}

.animal-container img{
    width: 100%;
    display: flex;
    border-radius: 7%;
    margin: 5%;
    box-shadow: 7px .9px grey;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.italics{
    font-style: italic;
    font-weight: bold;
}
.status{
    font-weight: bold;
}
nav{
    display: block;
}
code{
    font-size: large;
}

#navbar{
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 150px;
    width: 200px;
    height: 100%;
    background-color: #FFF5AD;
    padding-top: 2.5%;
    margin: auto;
    text-align: center;
    
} 
p{
    text-indent: 7%;
}
#main-doc{
    margin-left: 10px;
}
.nav-link{
    display: block;
    border: 1px solid #ECD583;
    padding: 10px;
}
.nav-link:nth-child(2){
    margin-top: 20px;
    border: 1px solid #ECD583;
    border-top: 2px solid #ECD583;   
}
.nav-link:last-of-type{
    border: 1px  solid #ECD583;
    border-bottom: 2px solid #ECD583;   
}
.line-break{
    height: 20px;
}
/* When the browser is at least 600px and above */
@media screen and (min-width: 1000px) {
    .line-break{
        height: 10px;
    }
  }