img{
    width: 50%;
    height: auto;
    border-radius: 10px;
}
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: sienna;
    background-color: beige;
    padding: 15px;
}
title{
    align-content: center;
}
